/*  ---------------General--------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    0deg,
    rgb(212, 206, 86) 25%,
    rgb(222, 212, 209) 100%
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

/*  ---------------About card--------------- */
.about {
  position: absolute;
  z-index: 10;
  background-color: rgb(244, 242, 229);
  width: 50%;
  height: 60%;
  border: 2px solid #34495e;
  border-radius: 4px;
  text-align: center;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

/*  ---------------Navbar area--------------- */
.navbar {
  display: inline-flex;
}

/*  ---------------Title area--------------- */
.title {
  display: grid;
  justify-content: center;
  align-content: center;
}

.title.hide {
  display: none;
}

.score {
  display: flex;
  justify-content: center;
  align-content: center;
}

/*  ---------------Fretboard grid--------------- */

.fretboard-container {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.fretboard-shadow-box {
  background: #f0ead661;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 2em;
  padding: 2em;
}

.fretboard-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(12, 2.5em);
  grid-template-rows: repeat(6, 2.5em);
}

.fret {
  background-image: url("imgs/fret.png");
  background-size: cover;
}

.fret.correct {
  background-image: url("imgs/fret-correct.png");
  background-size: cover;
}

.fret.wrong {
  background-image: url("imgs/fret-wrong.png");
  background-size: cover;
}

.fret.dotUp {
  background-image: url("imgs/fret-dot-up.png");
  background-size: cover;
}

.fret.dotUp.correct {
  background-image: url("imgs/fret-dot-up-correct.png");
  background-size: cover;
}

.fret.dotUp.wrong {
  background-image: url("imgs/fret-dot-up-wrong.png");
  background-size: cover;
}

.fret.dotDn {
  background-image: url("imgs/fret-dot-dn.png");
  background-size: cover;
}

.fret.dotDn.correct {
  background-image: url("imgs/fret-dot-dn-correct.png");
  background-size: cover;
}

.fret.dotDn.wrong {
  background-image: url("imgs/fret-dot-dn-wrong.png");
  background-size: cover;
}

.fret.selected {
  background-image: url("imgs/fret-select.png");
  background-size: cover;
}

.fret.dotUp.selected {
  background-image: url("imgs/fret-dot-up-select.png");
  background-size: cover;
}

.fret.dotDn.selected {
  background-image: url("imgs/fret-dot-dn-select.png");
  background-size: cover;
}

/*  ---------------Note selector--------------- */

.infoButtons {
  grid-template-columns: repeat(9, minmax(auto, 4em));
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.note-selector {
  display: grid;
  grid-template-columns: repeat(14, minmax(auto, 1.25em));
  grid-auto-rows: 2.5em;
  gap: 0.25em;
  justify-content: center;
  /* margin-bottom: 5em; */
}

.note {
  grid-column: span 2;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  border-radius: 0.25em;
}

.note:hover,
.key:focus {
  --lightness-offset: 10%;
}

.note.wrong {
  --hue: 15;
  --lightness: 23%;
  --saturation: 20%;
}

.note.correct {
  --hue: 120;
  --lightness: 43%;
  --saturation: 40%;
}
